.globe-controls-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10; /* Make sure it's above the globe but below overlays */
  background-color: rgba(14, 20, 17, 0.75);
  border-radius: 50%;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.globe-controls-container button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.globe-controls-container svg {
    width: 24px;
    height: 24px;
}
